<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- Это ключ для ресурса "BaRebus" Application Insights в группе ресурсов "Default-ApplicationInsights-CentralUS" -->
  <InstrumentationKey>20b5bab4-5709-4b75-b523-8125f44ad2ef</InstrumentationKey>
</ApplicationInsights>